/* stting one */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    direction: rtl;
    background-color: rgb(21, 20, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 244, 208);
}


/* list fit */

div.listfit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    margin: 3px;
    padding: 2px;
}


/* continer */

div.continer {
    width: 70%;
    border: 4px solid rgb(255, 244, 208);
    border-radius: 10px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}


/* header */

div.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
    border-bottom: 4px solid rgb(255, 244, 208);
    padding: 15px;
}

div.headrol1 img {
    height: 180px;
}


/* base meno */

div.boder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* right meno and contant */

div.contant {
    width: 40%;
}

div.elementBase,
div.listfit,
div.setdoc {
    width: 100%;
}


/* box main vaade */

div.pnglogo img {
    width: 350px;
    height: auto;
}


/* respansive */

@media screen and (max-width:960px) {
    div.continer {
        width: 80%;
    }
    div.header {
        align-items: center;
    }
    div.contant {
        width: 47%;
    }
    div.headrol1 img {
        height: 160px;
    }
    div.pnglogo img {
        width: 300px;
    }
}

@media screen and (max-width:749px) {
    div.continer {
        width: 85%;
    }
    div.pnglogo {
        width: auto;
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    div.pnglogo img {
        width: 230px;
    }
    div.listfit {
        border: none;
        border-bottom: 1px solid rgb(255, 244, 208);
    }
}

@media screen and (max-width:570px) {
    div.continer {
        border: none;
    }
    div.header {
        flex-direction: column;
    }
    div.headrol1 img {
        width: 400px;
        height: auto;
    }
    div.headrol1 {
        margin-bottom: 30px;
    }
    div.headrol2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    div.boder {
        flex-direction: column;
    }
    div.contant {
        width: 97%;
    }
    div.pictour-pro h2 {
        text-align: center;
        margin: 20px 0;
    }
    div.pnglogo {
        align-items: center;
    }
}